@model Domain.Entities.cours

@{
    ViewBag.Title = "DetailsmesCours";
    Layout = "~/Views/Shared/_Back.cshtml";

}

<h2>Details</h2>




    


   
<!--
  Don't use the "5-unsafe" CDN version in your own code. It will break on you.
  Instead go to videojs.com and copy the CDN urls for the latest version.
-->

<div id="instructions">

           <video style="width:100%; height:auto;" controls>
                                    <source src=@Url.Content("/Content/upload/" + Model.video) type="video/mp4" />
                                </video>
   


    <h2>@Html.DisplayFor(model => model.titre)</h2>
   
    <p>@Html.DisplayFor(model => model.cour)</p>

</div>

<style>
    #instructions {
        max-width: 640px;
        text-align: left;
        margin: 30px auto;
    }

        #instructions textarea {
            width: 100%;
            height: 100px;
        }

    /* Show the controls (hidden at the start by default) */
    .video-js .vjs-control-bar {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    /* Make the demo a little prettier */
    body {
        margin-top: 20px;
        background: #222;
        text-align: center;
        color: #aaa;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        background: radial-gradient(#333, hsl(200,30%,6%) );
    }

    a, a:hover, a:visited {
        color: #76DAFF;
    }
</style>
<p>
    @Html.ActionLink("Back to cours", "mesCours")
    @Html.ActionLink("Valider", "mesCours")


</p>

